html {
    height: 100%;
    margin: 0;
    padding: 0;
	}

body {
    font-family: sans-serif;
    text-align: center;
    background-color: pink;
	}

#video {
	width: 80vw;
	margin-top: 0vh;
	}

#header {
	color: white;
	font-size: 5vh;
	padding-top: 3vh;
	}